#include <windows.h>
#include "resource.h"

IDD_LAUNCHBOX DIALOG DISCARDABLE  0, 0, 242, 255
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | 
    WS_CAPTION | WS_SYSMENU
CAPTION "PuTTY Session Manager"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "Open",IDOK,188,17,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,188,34,50,14
    PUSHBUTTON      "New &folder",IDC_LAUNCHBOX_BUTTON_NEW_FOLDER,188,55,50,14
    PUSHBUTTON      "New sessi&on",IDC_LAUNCHBOX_BUTTON_NEW_SESSION,188,71,50,14
    PUSHBUTTON      "&Edit",IDC_LAUNCHBOX_BUTTON_EDIT,188,87,50,14
    PUSHBUTTON      "&Rename",IDC_LAUNCHBOX_BUTTON_RENAME,188,103,50,14
    PUSHBUTTON      "&Delete",IDC_LAUNCHBOX_BUTTON_DELETE,188,119,50,14
    PUSHBUTTON      "&More >>",IDC_LAUNCHBOX_BUTTON_MORE,188,140,50,14
    COMBOBOX        IDC_LAUNCHBOX_COMBOBOX_HOTKEY,4,167,61,30,
                    CBS_DROPDOWNLIST | WS_TABSTOP
    EDITTEXT        IDC_LAUNCHBOX_EDITBOX_HOTKEY,96,166,88,14
    PUSHBUTTON      "Se&t",IDC_LAUNCHBOX_BUTTON_HOTKEY,188,166,50,14
    CONTROL         "&Limit this session to run",IDC_LAUNCHBOX_CHECKBOX_LIMIT,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,4,185,88,14
    EDITTEXT        IDC_LAUNCHBOX_EDITBOX_LIMIT1,96,185,30,14,ES_NUMBER
    CONTROL         "Spin1",IDC_LAUNCHBOX_SPIN_HOTKEY,"msctls_updown32",UDS_SETBUDDYINT | 
                    UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,120,186,
                    11,14
    COMBOBOX        IDC_LAUNCHBOX_COMBOBOX_LIMIT1,96,204,48,30,
                    CBS_DROPDOWNLIST | WS_TABSTOP
    COMBOBOX        IDC_LAUNCHBOX_COMBOBOX_LIMIT2,4,222,66,30,
                    CBS_DROPDOWNLIST | WS_TABSTOP
    COMBOBOX        IDC_LAUNCHBOX_COMBOBOX_LIMIT3,96,222,61,30,
                    CBS_DROPDOWNLIST | WS_TABSTOP
    CONTROL         "&Autorun this session at",IDC_LAUNCHBOX_CHECKBOX_RUN,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,4,239,88,14
    COMBOBOX        IDC_LAUNCHBOX_COMBOBOX_RUN1,96,239,48,30,CBS_DROPDOWNLIST | 
                    WS_TABSTOP
    COMBOBOX        IDC_LAUNCHBOX_COMBOBOX_RUN2,164,239,48,30,
                    CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT           "&Sessions:",IDC_LAUNCHBOX_STATIC_TREEVIEW,4,4,75,9
    GROUPBOX        "",IDC_LAUNCHBOX_GROUPBOX_TREEVIEW,4,17,180,137
    LTEXT           "&hotkey",IDC_LAUNCHBOX_STATIC_HOTKEY,70,166,23,14,
                    SS_CENTERIMAGE
    CONTROL         "",IDC_LAUNCHBOX_STATIC_DIVIDER,"Static",SS_ETCHEDHORZ,4,
                    160,233,1
    CONTROL         "concurrent instances, and when",
                    IDC_LAUNCHBOX_STATIC_UNUSED2,"Static",SS_LEFTNOWORDWRAP | 
                    SS_CENTERIMAGE | WS_GROUP,129,185,109,14
    CONTROL         "this limit is reached, find the",
                    IDC_LAUNCHBOX_STATIC_UNUSED3,"Static",SS_LEFTNOWORDWRAP | 
                    SS_CENTERIMAGE | WS_GROUP,4,203,88,14
    CONTROL         "running instance and then",IDC_LAUNCHBOX_STATIC_UNUSED4,
                    "Static",SS_LEFTNOWORDWRAP | SS_CENTERIMAGE | WS_GROUP,
                    147,203,88,14
    CONTROL         "it and",IDC_LAUNCHBOX_STATIC_UNUSED5,"Static",
                    SS_LEFTNOWORDWRAP | SS_CENTERIMAGE | WS_GROUP,73,221,19,
                    14
    CONTROL         ".",IDC_LAUNCHBOX_STATIC_UNUSED6,"Static",
                    SS_LEFTNOWORDWRAP | SS_CENTERIMAGE | WS_GROUP,159,221,19,
                    14
    CONTROL         "and",IDC_LAUNCHBOX_STATIC_UNUSED7,"Static",
                    SS_LEFTNOWORDWRAP | SS_CENTERIMAGE | WS_GROUP,148,239,13,
                    14
    CONTROL         "it.",IDC_LAUNCHBOX_STATIC_UNUSED8,"Static",
                    SS_LEFTNOWORDWRAP | SS_CENTERIMAGE | WS_GROUP,216,239,13,
                    14
END

IDD_WINDOWLISTBOX DIALOG DISCARDABLE 0, 0, 240, 152
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME |
        DS_CENTER
CAPTION "PuTTY Sessions"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "&Running PuTTY or PuTTYtel sessions:",IDC_WINDOWLISTBOX_STATIC,7,3,169,8
    LISTBOX         IDC_WINDOWLISTBOX_LISTBOX,7,15,169,132,WS_VSCROLL | WS_BORDER | WS_TABSTOP | LBS_HASSTRINGS | LBS_NOTIFY | LBS_DISABLENOSCROLL | LBS_USETABSTOPS | LBS_WANTKEYBOARDINPUT
    DEFPUSHBUTTON   "Switch to",IDOK,183,21,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,183,38,50,14
    PUSHBUTTON      "&Hide",IDC_WINDOWLISTBOX_BUTTON_HIDE,183,77,50,14
    PUSHBUTTON      "&Show",IDC_WINDOWLISTBOX_BUTTON_SHOW,183,93,50,14
    PUSHBUTTON      "&Kill",IDC_WINDOWLISTBOX_BUTTON_KILL,183,109,50,14
END

IDD_LICENSEBOX DIALOG DISCARDABLE  0, 0, 240, 230
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | 
    WS_SYSMENU
CAPTION "License"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,95,210,50,14
    LTEXT           "The above copyright notice and this permission notice shall be\nincluded in all copies or substantial portions of the Software.",
                    100,15,97,210,20
    CTEXT           "PuTTY Launcher © 2004, 2005 dwalin <dwalin@dwalin.ru>\n\nPortions © Simon Tatham, 1997-2004",
                    101,15,4,210,27
    LTEXT           "Permission is hereby granted, free of charge, to any person\nobtaining a copy of this software and associated documentation\nfiles (the """"Software""""), to deal in the Software without restriction,\n",
                    102,15,36,210,24
    LTEXT           "including without limitation the rights to use, copy, modify, merge,\npublish, distribute, sublicense, and/or sell copies of the Software,\nand to permit persons to whom the Software is furnished to do so,\nsubject to the following conditions:\n",
                    103,15,60,210,34
    LTEXT           "THE SOFTWARE IS PROVIDED ""AS IS"", WITHOUT\nWARRANTY OF ANY KIND, EXPRESS OR IMPLIED,\nINCLUDING BUT NOT LIMITED TO THE WARRANTIES OF\nMERCHANTABILITY, FITNESS FOR A PARTICULAR\nPURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL\n",
                    104,15,122,210,40
    LTEXT           "THE COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,\nDAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION\nOF CONTRACT, TORT OR OTHERWISE, ARISING FROM,\nOUT OF OR IN CONNECTION WITH THE SOFTWARE OR\nTHE USE OR OTHER DEALINGS IN THE SOFTWARE.",
                    105,15,162,210,42
END

IDD_ABOUTBOX DIALOG DISCARDABLE  0, 0, 234, 68
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | 
    WS_SYSMENU
CAPTION "About"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&Close",IDOK,157,49,70,14
    PUSHBUTTON      "Visit &home page...",IDC_ABOUTBOX_BUTTON_HOMEPAGE,82,49,70,14
    PUSHBUTTON      "View &License...",IDC_ABOUTBOX_BUTTON_LICENSE,7,49,70,14
    CTEXT           "PuTTY Launcher && Session Manager",100,7,7,220,11
    CTEXT           "",IDC_ABOUTBOX_STATIC_VERSION,12,20,210,8
    CTEXT           "© 2004, 2005 dwalin <dwalin@dwalin.ru>. All rights reserved.",
                    101,7,35,220,11
END

IDD_OPTIONSBOX DIALOG DISCARDABLE  0, 0, 229, 167
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME |
        DS_CENTER
CAPTION "Options"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        IDC_OPTIONSBOX_EDITBOX_PUTTYPATH,16,31,139,14,ES_AUTOHSCROLL
    PUSHBUTTON      "&Browse...",IDC_OPTIONSBOX_BUTTON_PUTTYPATH,164,31,50,14
    EDITTEXT        IDC_OPTIONSBOX_EDITBOX_HOTKEY_LBOX,16,68,95,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_OPTIONSBOX_EDITBOX_HOTKEY_WLIST,118,68,95,14,ES_AUTOHSCROLL
    CONTROL         "&Run PuTTY Launcher automatically at startup?",
                    IDC_OPTIONSBOX_BUTTON_STARTUP,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,16,91,200,9
    CONTROL         "Enable tree-view items &drag&&drop in Launch Box?",
                    IDC_OPTIONSBOX_BUTTON_DRAGDROP,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,16,105,200,9
    CONTROL         "Enable remembering cursor position in Launch Box?",
                    IDC_OPTIONSBOX_BUTTON_SAVECUR,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,16,119,200,9
    DEFPUSHBUTTON   "OK",IDOK,61,138,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,118,138,50,14
    GROUPBOX        "",IDC_OPTIONSBOX_GROUPBOX,7,7,215,153
    LTEXT           "&Path to PuTTY or PuTTYtel executable:",
                    IDC_OPTIONSBOX_STATIC_PUTTYPATH,16,17,169,9
    LTEXT           "&Launch Box hot key:",IDC_OPTIONSBOX_STATIC_HOTKEY_LBOX,16,54,
                    75,9
    LTEXT           "&Window List hot key:",IDC_OPTIONSBOX_STATIC_HOTKEY_WLIST,118,
                    54,75,9
END

IDI_MAINICON            ICON    DISCARDABLE     "putty.ico"

/* Some systems don't define this, so I do it myself if necessary */
#ifndef RT_MANIFEST
#define RT_MANIFEST 24
#endif

1                       RT_MANIFEST             "plaunch.manifest"
