/* Some systems don't define this, so I do it myself if necessary */
#ifndef RT_MANIFEST
#define RT_MANIFEST 24
#endif

#define IDI_MAINICON    100

IDI_MAINICON            ICON    DISCARDABLE     "putty.ico"

1                       RT_MANIFEST             "plaunch.manifest"
