#include "windows.h"
#include "resource.h"

IDI_MAINICON	ICON			"putty.ico"

IDD_ABOUTBOX DIALOGEX 0, 0, 234, 68
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | 
    WS_CAPTION | WS_SYSMENU
CAPTION "PLaunch - About"
FONT 9, "Segoe UI", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "&Close",IDOK,157,49,70,14
    PUSHBUTTON      "View &License...",IDC_ABOUTBOX_BUTTON_LICENSE,7,49,70,
                    14
    PUSHBUTTON      "Visit &home page...",IDC_ABOUTBOX_BUTTON_HOMEPAGE,82,49,
                    70,14
    CTEXT           "PuTTY Launcher && Session Manager",IDC_STATIC,7,7,220,
                    11
    CTEXT           "",IDC_ABOUTBOX_STATIC_VERSION,12,20,210,8
    CTEXT           "© 2004-2010 Alexander Tokarev. All rights reserved.",
                    IDC_STATIC,7,35,220,11
END

IDD_LICENSEBOX DIALOGEX 0, 0, 240, 230
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | 
    WS_CAPTION | WS_SYSMENU
CAPTION "PLaunch - License"
FONT 9, "Segoe UI", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,95,210,50,14
    LTEXT           "The above copyright notice and this permission notice shall be\nincluded in all copies or substantial portions of the Software.",
                    IDC_STATIC,15,97,210,20
    CTEXT           "PuTTY Launcher © 2004-2010 Alexander Tokarev\n\nPortions © Simon Tatham, 1997-2004",
                    IDC_STATIC,7,4,225,27
    LTEXT           "Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the ""Software""), to deal in the Software without restriction,",
                    IDC_STATIC,15,36,210,24
    LTEXT           "including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:",
                    IDC_STATIC,15,60,210,34
    LTEXT           "THE SOFTWARE IS PROVIDED ""AS IS"", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL",
                    IDC_STATIC,15,122,210,40
    LTEXT           "THE COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.",
                    IDC_STATIC,15,162,210,42
END

IDD_WINDOWLISTBOX DIALOGEX 0, 0, 240, 152
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | 
    WS_CAPTION | WS_SYSMENU
CAPTION "PLaunch - Running Sessions"
FONT 9, "Segoe UI", 0, 0, 0x0
BEGIN
    LISTBOX         IDC_WINDOWLISTBOX_LISTBOX,7,15,169,132,LBS_HASSTRINGS | 
                    LBS_USETABSTOPS | LBS_WANTKEYBOARDINPUT | 
		    LBS_OWNERDRAWVARIABLE |
                    LBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "Switch to",IDOK,183,21,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,183,38,50,14
    PUSHBUTTON      "&Hide",IDC_WINDOWLISTBOX_BUTTON_HIDE,183,77,50,14
    PUSHBUTTON      "&Show",IDC_WINDOWLISTBOX_BUTTON_SHOW,183,93,50,14
    PUSHBUTTON      "&Kill",IDC_WINDOWLISTBOX_BUTTON_KILL,183,109,50,14
    LTEXT           "&Running PuTTY sessions:",IDC_STATIC,7,3,
                    169,8
END

IDD_OPTIONSBOX DIALOGEX 0, 0, 229, 210
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | 
    WS_CAPTION | WS_SYSMENU
CAPTION "PLaunch - Options"
FONT 9, "Segoe UI", 0, 0, 0x0
BEGIN
    EDITTEXT        IDC_OPTIONSBOX_EDITBOX_PUTTYPATH,16,24,139,12,
                    ES_AUTOHSCROLL
    PUSHBUTTON      "&Browse...",IDC_OPTIONSBOX_BUTTON_PUTTYPATH,164,24,50,
                    14
    EDITTEXT        IDC_OPTIONSBOX_EDITBOX_HOTKEY_LBOX,16,53,95,12,
                    ES_AUTOHSCROLL
    EDITTEXT        IDC_OPTIONSBOX_EDITBOX_HOTKEY_WLIST,118,53,95,12,
                    ES_AUTOHSCROLL
    EDITTEXT        IDC_OPTIONSBOX_EDITBOX_HOTKEY_HIDEWINDOW,16,82,95,12,
                    ES_AUTOHSCROLL
    EDITTEXT        IDC_OPTIONSBOX_EDITBOX_HOTKEY_CYCLEWINDOW,118,82,95,12,
                    ES_AUTOHSCROLL
    CONTROL         "Start PLaunch automatically at &Windows startup?",
                    IDC_OPTIONSBOX_CHECKBOX_STARTUP,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,16,100,200,9
    CONTROL         "Enable tree-view items &drag&&drop in Session Manager?",
                    IDC_OPTIONSBOX_CHECKBOX_DRAGDROP,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,16,114,200,9
    CONTROL         "Enable saving c&ursor position in Session Manager?",
                    IDC_OPTIONSBOX_CHECKBOX_SAVECUR,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,16,128,200,9
    CONTROL         "Show all hidden PuTTY sessions upon &quit?",
                    IDC_OPTIONSBOX_CHECKBOX_SHOWONQUIT,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,16,142,200,8
    CONTROL         "Show saved PuTTY sessions as a subme&nu?",
                    IDC_OPTIONSBOX_CHECKBOX_MENUSESSIONS,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,16,156,200,8
    CONTROL         "Show running PuTTY sessions as a sub&menu?",
                    IDC_OPTIONSBOX_CHECKBOX_MENURUNNING,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,16,170,200,8
    DEFPUSHBUTTON   "OK",IDOK,61,184,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,118,184,50,14
    GROUPBOX        "",IDC_OPTIONSBOX_GROUPBOX,7,3,215,201
    LTEXT           "PuTTY &executable file path:",IDC_STATIC,16,
                    14,169,8
    LTEXT           "&Session Manager hotkey:",IDC_STATIC,16,42,95,8
    LTEXT           "&Running Sessions list hotkey:",IDC_STATIC,118,42,100,8
    LTEXT           "&Hide active session hotkey:",IDC_STATIC,16,71,95,8
    LTEXT           "&Cycle sessions hotkey:",IDC_STATIC,118,71,100,8
END

IDD_LAUNCHBOX DIALOGEX 0, 0, 242, 263
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | 
    WS_VISIBLE | WS_CLIPSIBLINGS | WS_CAPTION | WS_SYSMENU
CAPTION "PLaunch - Session Manager"
FONT 9, "Segoe UI", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "Open",IDOK,188,17,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,188,34,50,14
    PUSHBUTTON      "New &folder",IDC_LAUNCHBOX_BUTTON_NEW_FOLDER,188,55,50,
                    14
    PUSHBUTTON      "New sessi&on",IDC_LAUNCHBOX_BUTTON_NEW_SESSION,188,71,
                    50,14
    PUSHBUTTON      "&Edit",IDC_LAUNCHBOX_BUTTON_EDIT,188,87,50,14
    PUSHBUTTON      "&Rename",IDC_LAUNCHBOX_BUTTON_RENAME,188,103,50,14
    PUSHBUTTON      "&Delete",IDC_LAUNCHBOX_BUTTON_DELETE,188,119,50,14
    PUSHBUTTON      "&More >>",IDC_LAUNCHBOX_BUTTON_MORE,188,140,50,14
    LTEXT           "&Saved Sessions:",IDC_STATIC,4,4,75,9
    GROUPBOX        "",IDC_LAUNCHBOX_GROUPBOX_TREEVIEW,4,17,180,137
    GROUPBOX        "",IDC_LAUNCHBOX_GROUPBOX_TABVIEW,4,165,234,95
    CONTROL         "",IDC_LAUNCHBOX_STATIC_DIVIDER,"Static",SS_ETCHEDHORZ,4,
                    160,233,1
END

IDD_LAUNCHBOX_TAB0 DIALOGEX 0, 0, 232, 52
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE | WS_CLIPCHILDREN
EXSTYLE WS_EX_TRANSPARENT | WS_EX_CONTROLPARENT
FONT 9, "Segoe UI", 0, 0, 0x1
BEGIN
    EDITTEXT        IDC_LAUNCHBOX_TAB0_EDITBOX_LAUNCH,83,0,90,14
    PUSHBUTTON      "Set",IDC_LAUNCHBOX_TAB0_BUTTON_LAUNCH,177,0,50,14
    EDITTEXT        IDC_LAUNCHBOX_TAB0_EDITBOX_EDIT,83,19,90,14
    PUSHBUTTON      "Set",IDC_LAUNCHBOX_TAB0_BUTTON_EDIT,177,19,50,14
    EDITTEXT        IDC_LAUNCHBOX_TAB0_EDITBOX_KILL,83,38,90,14
    PUSHBUTTON      "Set",IDC_LAUNCHBOX_TAB0_BUTTON_KILL,177,38,50,14
    LTEXT           "Launch session hotkey:",IDC_STATIC,3,3,76,8
    LTEXT           "Edit session hotkey:",IDC_STATIC,3,22,64,8
    LTEXT           "Kill session hotkey:",IDC_STATIC,3,41,60,8
END

IDD_LAUNCHBOX_TAB1 DIALOGEX 0, 0, 228, 71
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE | WS_CLIPCHILDREN
EXSTYLE WS_EX_TRANSPARENT | WS_EX_CONTROLPARENT
FONT 9, "Segoe UI", 0, 0, 0x1
BEGIN
    CONTROL         "At PLaunch startup, do this session...",
                    IDC_LAUNCHBOX_TAB1_CHECKBOX_ATSTART,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,3,3,181,8
    PUSHBUTTON      ">>",IDC_LAUNCHBOX_TAB1_BUTTON_ATSTART,187,0,40,14
    CONTROL         "When network connection becomes available, do...",
                    IDC_LAUNCHBOX_TAB1_CHECKBOX_ATNETWORKUP,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,3,22,181,8
    PUSHBUTTON      ">>",IDC_LAUNCHBOX_TAB1_BUTTON_ATNETWORKUP,187,19,40,14
    CONTROL         "When network connection becomes unavailable...",
                    IDC_LAUNCHBOX_TAB1_CHECKBOX_ATNETWORKDOWN,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,3,41,184,8
    PUSHBUTTON      ">>",IDC_LAUNCHBOX_TAB1_BUTTON_ATNETWORKDOWN,187,38,40,
                    14
    CONTROL         "Before PLaunch is stopped, do...",
                    IDC_LAUNCHBOX_TAB1_CHECKBOX_ATSTOP,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,3,60,181,8
    PUSHBUTTON      ">>",IDC_LAUNCHBOX_TAB1_BUTTON_ATSTOP,187,57,40,14
END

IDD_LAUNCHBOX_TABGENERIC1 DIALOGEX 0, 0, 228, 70
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE | WS_CLIPCHILDREN
EXSTYLE WS_EX_TRANSPARENT | WS_EX_CONTROLPARENT
FONT 9, "Segoe UI", 0, 0, 0x1
BEGIN
    COMBOBOX        IDC_LAUNCHBOX_TABGENERIC1_COMBOBOX_FIND,67,0,62,100,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_LAUNCHBOX_TABGENERIC1_EDITBOX_FIND,132,0,27,12,
                    ES_AUTOHSCROLL
    CONTROL         "",IDC_LAUNCHBOX_TABGENERIC1_SPIN_FIND,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | 
                    UDS_ARROWKEYS | WS_TABSTOP,217,56,11,14
    COMBOBOX        IDC_LAUNCHBOX_TABGENERIC1_COMBOBOX_ACTION1,4,19,62,30,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_LAUNCHBOX_TABGENERIC1_COMBOBOX_ACTION2,78,19,62,30,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_LAUNCHBOX_TABGENERIC1_COMBOBOX_ACTION3,154,19,62,30,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_LAUNCHBOX_TABGENERIC1_COMBOBOX_ACTION4,4,38,62,30,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_LAUNCHBOX_TABGENERIC1_COMBOBOX_ACTION5,78,38,62,30,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_LAUNCHBOX_TABGENERIC1_COMBOBOX_ACTION6,154,38,62,30,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "<< Back",IDC_LAUNCHBOX_TABGENERIC1_BUTTON_BACK,4,56,62,
                    14
    PUSHBUTTON      "More Actions >>",
                    IDC_LAUNCHBOX_TABGENERIC1_BUTTON_MOREACTIONS,78,56,62,14
    PUSHBUTTON      "Next >>",IDC_LAUNCHBOX_TABGENERIC1_BUTTON_NEXT,154,56,
                    62,14
    LTEXT           "Find the",IDC_STATIC,37,2,26,8
    LTEXT           "instance and:",IDC_STATIC,169,2,44,8
    LTEXT           "it,",IDC_STATIC,68,22,8,8
    LTEXT           "it,",IDC_STATIC,142,22,8,8
    LTEXT           "it,",IDC_STATIC,218,22,8,8
    LTEXT           "it,",IDC_STATIC,68,41,8,8
    LTEXT           "it,",IDC_STATIC,142,41,8,8
    LTEXT           "it",IDC_STATIC,218,41,8,8
END

IDD_LAUNCHBOX_TAB2 DIALOGEX 0, 0, 228, 52
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE | WS_CLIPCHILDREN
EXSTYLE WS_EX_TRANSPARENT | WS_EX_CONTROLPARENT
FONT 9, "Segoe UI", 0, 0, 0x1
BEGIN
    CONTROL         "Enable limiting this session's number of instances:",
                    IDC_LAUNCHBOX_TAB2_CHECKBOX_ENABLE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,3,3,171,8
    CONTROL         "Lower threshold:",IDC_LAUNCHBOX_TAB2_CHECKBOX_LOWER,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,3,22,64,8
    EDITTEXT        IDC_LAUNCHBOX_TAB2_EDITBOX_LOWER,72,19,27,14,ES_RIGHT | 
                    ES_NUMBER
    CONTROL         "Spin2",IDC_LAUNCHBOX_TAB2_SPIN_LOWER,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | 
                    UDS_ARROWKEYS,185,2,11,14
    PUSHBUTTON      ">>",IDC_LAUNCHBOX_TAB2_BUTTON_LOWER,184,19,40,14
    CONTROL         "Upper threshold:",IDC_LAUNCHBOX_TAB2_CHECKBOX_UPPER,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,3,40,64,10
    EDITTEXT        IDC_LAUNCHBOX_TAB2_EDITBOX_UPPER,72,39,27,12,ES_RIGHT | 
                    ES_NUMBER
    CONTROL         "Spin2",IDC_LAUNCHBOX_TAB2_SPIN_UPPER,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | 
                    UDS_ARROWKEYS,201,2,11,14
    PUSHBUTTON      ">>",IDC_LAUNCHBOX_TAB2_BUTTON_UPPER,184,38,40,14
    LTEXT           ", when it's reached, do...",IDC_STATIC,100,22,78,8
    LTEXT           ", when it's reached, do...",IDC_STATIC,100,41,78,8
END

IDD_LAUNCHBOX_TABGENERIC2 DIALOGEX 0, 0, 228, 70
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE | WS_CLIPCHILDREN
EXSTYLE WS_EX_TRANSPARENT | WS_EX_CONTROLPARENT
FONT 9, "Segoe UI", 0, 0, 0x1
BEGIN
    COMBOBOX        IDC_LAUNCHBOX_TABGENERIC2_COMBOBOX_ACTION1,4,0,62,30,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_LAUNCHBOX_TABGENERIC2_COMBOBOX_ACTION2,78,0,62,30,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_LAUNCHBOX_TABGENERIC2_COMBOBOX_ACTION3,154,0,60,30,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_LAUNCHBOX_TABGENERIC2_COMBOBOX_ACTION4,4,19,62,30,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_LAUNCHBOX_TABGENERIC2_COMBOBOX_ACTION5,78,19,62,30,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_LAUNCHBOX_TABGENERIC2_COMBOBOX_ACTION6,154,19,60,30,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_LAUNCHBOX_TABGENERIC2_COMBOBOX_ACTION7,4,38,62,30,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_LAUNCHBOX_TABGENERIC2_COMBOBOX_ACTION8,78,38,62,30,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_LAUNCHBOX_TABGENERIC2_COMBOBOX_ACTION9,154,38,60,30,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_LAUNCHBOX_TABGENERIC2_COMBOBOX_ACTION10,78,57,62,30,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "<< Back",IDC_LAUNCHBOX_TABGENERIC2_BUTTON_BACK,4,56,50,
                    14
    PUSHBUTTON      "Next >>",IDC_LAUNCHBOX_TABGENERIC2_BUTTON_NEXT,164,56,
                    50,14
    LTEXT           "it,",IDC_STATIC,68,22,8,8
    LTEXT           "it,",IDC_STATIC,142,22,8,8
    LTEXT           "it,",IDC_STATIC,216,22,8,8
    LTEXT           "it,",IDC_STATIC,68,41,8,8
    LTEXT           "it,",IDC_STATIC,142,41,8,8
    LTEXT           "it,",IDC_STATIC,216,41,8,8
    RTEXT           "and",IDC_LAUNCHBOX_TABGENERIC2_STATIC_AND,59,59,13,8
    LTEXT           "it.",IDC_LAUNCHBOX_TABGENERIC2_STATIC_IT,142,59,8,8
    LTEXT           "it,",IDC_STATIC,68,3,8,8
    LTEXT           "it,",IDC_STATIC,142,3,8,8
    LTEXT           "it,",IDC_STATIC,216,3,8,8
END

1 RT_MANIFEST "plaunch.mft"